body{
    min-width: 290px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 8px;
}

#main-doc{
    position: relative;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    margin-top: 270;
}

#navbar{
    position: fixed;
    min-width: 290px;
    height: 100%;
    top: 0px;
    left: 0px;
    width:300px;
    border-right: solid;
    height: 100%;
}

header{
    font-size: 1.8em;
    min-width: 290px;
    margin: 10px;
}
ul{
    list-style-type: disc;
    display: block;
}
#navbar ul{
    
    height: 207px;
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li{
    border-top: 1px solid;
    position: relative;
    width: 100%;
    list-style: none;
}

li{
    display: list-item;
}

#navbar a{
    color: black;
    cursor: pointer;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

section p{
    margin: 20px;
}

code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 30px;
    border-radius: 5px;
}

section li{
    margin-left: 30px;
}

.second-list{
    margin: 40PX;
    list-style-type:circle;
}